# Entorno virtual
venv/
env/
.venv/

# Variables de entorno
.env
.env.local

# Base de datos SQLite
*.db
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Vercel
.vercel

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db